{% extends 'layout.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center py-5">
    {% if current_user.is_authenticated %}
        <h1 class="display-4"> {{ current_user.username }}, ¿Tienes algo para contar?</h1>
            <div class="mt-4">
                <a href="{{ url_for('new_post')}}" class="btn btn-primary btn-lg mr-3">CREAR POST</a>
            </div>
    {% endif %}
</div>

<h1>Posts recientes</h1>
{% for post in posts %}
    <div class="card mb-3">
        <div class="card-body">
            <h4><a href="{{ url_for('post_detail', id=post.id) }}">{{ post.title }}</a></h4>
            <p class="text-muted"><a href="{{ url_for('user_profile', id=post.author.id) }}">{{ post.author.username }}</a> - {{ post.created_at.strftime('%d/%m/%Y') }}</p>
            <p>{{ post.content }}</p>
            <p><small class="text-muted">Categoría: {{ post.categorie.name if post.categorie else 'Sin categoria' }}</small></p>
        </div>
    </div>
{% else %}
    <p>No hay posts todavía.</p>
{% endfor %}
{% endblock %}

